body{
    background: #fefeff;
}


form{
    background-color: #6bb8cf;
    padding: 20px;
    width: 450px;
    margin: 50px auto;
    
}

input[type=text],[type=email],[type=password]{
    width: 280px;
    padding: 8px;
    margin: 5px 0;
    border-radius: 5px;
    border: 1px solid #ececec;
}

input[type=submit]{
    width: 180px;
    height: 40px;
    border-radius: 5px;
    background-color: #f5faff;
    border: 1px solid #ececec;
}

input[type=submit]:hover{
    background-color: #dfdfdf;
}